{extend name="public/base" /}
{block name="title"}添加轮播图{/block}

{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body" style="padding: 15px 0;">
                <ul class="nav nav-tabs">
                    <li><a href="{:url('index')}">轮播图列表</a></li>
                    <li class="active"><a href="javascript:;">添加轮播图</a></li>
                </ul>
            </div>
            <br>
            <div class="panel-body">
            <form id="addarc" method="post" action="{:url('edit')}" role="form" enctype="multipart/form-data" class="form-horizontal">
                <input style="display:none;" name="id" type="text" id="id" value="{$id}">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span class="text-danger"> * </span>标题</label>
                    <div class="col-sm-4">
                        <input value="{$post['title']}" type="text" name="title" class="form-control" placeholder="标题" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">链接网址</label>
                    <div class="col-sm-6">
                        <input value="{$post['url']}" type="text" name="url" class="form-control" placeholder="url" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span class="text-danger"> * </span>跳转方式</label>
                    <div class="col-sm-4">
                        <div class="radio">
                            <label>
                                <input type="radio" name="target" value="0" {if condition="isset($post['target']) && $post['target']==0"}checked{/if}> _blank
                            </label>
                            <label>
                                <input type="radio" name="target" value="1" {if condition="isset($post['target']) && $post['target']==1"}checked{/if}> _self
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span class="text-danger"> * </span>是否显示</label>
                    <div class="col-sm-4">
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" value="0" {if condition="isset($post['status']) && $post['status']==0"}checked{/if}> 是
                            </label>
                            <label>
                                <input type="radio" name="status" value="1" {if condition="isset($post['status']) && $post['status']==1"}checked{/if}> 否
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">排序</label>
                    <div class="col-sm-1">
                        <input value="{$post['listorder']}" type="text" name="listorder" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">所属的组</label>
                    <div class="col-sm-1">
                        <input value="{$post['group_id']}" type="text" name="group_id" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span class="text-danger"> </span>图片</label>
                    <div class="col-sm-9">
                        <button type="button" onclick="upImage();">选择图片</button>
                        <input name="pic" type="text" id="pic" value="{$post['pic']}" style="display:none;">
                        <img style="margin-left:20px;" src="{$post['pic']}" width="120" height="80" id="picview">
                    </div>
                </div>
<!-- 配置文件 --><script type="text/javascript" src="/other/flueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 --><script type="text/javascript" src="/other/flueditor/ueditor.all.js"></script>
<script type="text/javascript">
var _editor;
$(function() {
    //重新实例化一个编辑器，防止在上面的editor编辑器中显示上传的图片或者文件
    _editor = UE.getEditor('ueditorimg');
    _editor.ready(function () {
        //设置编辑器不可用
        _editor.setDisabled('insertimage');
        //隐藏编辑器，因为不会用到这个编辑器实例，所以要隐藏
        _editor.hide();
        //侦听图片上传
        _editor.addListener('beforeInsertImage', function (t, arg) {
            //将地址赋值给相应的input,只取第一张图片的路径
			$('#pic').val(arg[0].src);
            //图片预览
            $('#picview').attr("src",arg[0].src).css("display","inline-block");
        })
    });
});
//弹出图片上传的对话框
function upImage()
{
    var myImage = _editor.getDialog("insertimage");
	myImage.render();
    myImage.open();
}
</script>
<script type="text/plain" id="ueditorimg"></script>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button type="submit" onclick="" class="btn btn-success" value="Submit">保存(Submit)</button>
                        <button type="reset" class="btn btn-default" value="Reset">重置(Reset)</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{/block}