{extend name="public/base" /}
{block name="title"}文章列表{/block}

{block name="content"}
<h5 class="sub-header"><a href="{:url('fladmin/ArticleType/index')}">栏目管理</a> > <a href="{:url('index')}">文章列表</a> | <a href="{:url('index')}?status=1">未审核文章</a> [ <a href="{:url('add')}<?php if(!empty($_GET["id"])){echo '?type_id='.$_GET["id"];}?>">发布文章</a> ]</h5>

<div class="table-responsive">
<table class="table table-striped table-hover">
  <thead>
	<tr>
	  <th>ID</th>
	  <th>选择</th>
	  <th>文章标题</th>
	  <th>更新时间</th>
	  <th>栏目</th><th>点击</th><th>操作</th>
	</tr>
  </thead>
  <tbody>
  <?php if($list){foreach($list as $row){ ?>
	<tr>
	  <td><?php echo $row["id"]; ?></td>
	  <td><input name="arcID" type="checkbox" value="<?php echo $row["id"]; ?>" class="np"></td>
	  <td><a href="{:url('edit')}?id=<?php echo $row["id"]; ?>"><?php echo $row["title"]; ?></a> <?php if(!empty($row["litpic"])){echo "<small style='color:red'>[图]</small>";}if($row["tuijian"]==1){echo "<small style='color:#22ac38'>[荐]</small>";} ?> </td>
	  <td><?php echo date('Y-m-d H:i:s',$row["update_time"]); ?></td>
	  <td><a href="{:url('index')}?type_id=<?php echo $row["type_id"]; ?>"><?php echo $row["type_name_text"]; ?></a></td><td><?php echo $row["click"]; ?></td><td><a target="_blank" href="/p/<?php echo $row["id"]; ?>">预览</a>&nbsp;<a href="{:url('edit')}?id=<?php echo $row["id"]; ?>">修改</a>&nbsp;<a onclick="delconfirm('{:url('del')}?id=<?php echo $row["id"]; ?>')" href="javascript:;">删除</a></td>
	</tr>
	<?php }} ?>
	<tr>
		<td colspan="8">
		<a href="javascript:selAll('arcID')" class="coolbg">反选</a>&nbsp;
		<a href="javascript:delArc()" class="coolbg">删除</a>&nbsp;
		<a href="javascript:tjArc()" class="coolbg">特荐</a>
		</td>
	</tr>
  </tbody>
</table>
</div><!-- 表格结束 -->

<form id="searcharc" class="navbar-form" action="{:url('index')}" method="get">
<div class="form-group"><select class="form-control" name="type_id" id="type_id">
<option value="0">选择栏目...</option>
<?php if($article_type_list){foreach($article_type_list as $row){ ?><option value="<?php echo $row["id"]; ?>"><?php for($i=0;$i<$row["deep"];$i++){echo "—";}echo $row["name"]; ?></option><?php }} ?>
</select></div>
<div class="form-group"><input type="text" name="keyword" id="keyword" class="form-control required" placeholder="搜索关键词..."></div>
<button type="submit" class="btn btn-info" value="Submit">搜索一下</button></form>

<div class="backpages">{$page}</div>

<script>
//推荐文章
function tjArc(aid)
{
	var checkvalue=getItems();
	
	if(checkvalue=='')
	{
		alert('必须选择一个或多个文档！');
		return;
	}
	
	if(confirm("确定要推荐吗"))
	{
		location="{:url('recommendarc')}?id="+checkvalue;
	}
	else
	{
		
	}
}

//批量删除文章
function delArc(aid)
{
	var checkvalue=getItems();
	
	if(checkvalue=='')
	{
		alert('必须选择一个或多个文档！');
		return;
	}
	
	if(confirm("确定删除吗"))
	{
		location="{:url('del')}?id="+checkvalue;
	}
	else
	{
		
	}
}

$(function(){
	$('.required').on('focus', function() {
		$(this).removeClass('input-error');
	});
	
    $("#searcharc").submit(function(e){
		$(this).find('.required').each(function(){
			if( $(this).val() == "" )
			{
				e.preventDefault();
				$(this).addClass('input-error');
			}
			else
			{
				$(this).removeClass('input-error');
			}
		});
    });
});
</script>
{/block}