<!DOCTYPE html><html><head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<title><?php if($post['seotitle']){echo $post['seotitle'];}else{echo $post['title'].'-'.sysconfig('CMS_WEBNAME');} ?></title>
<meta name="keywords" content="<?php echo $post['keywords']; ?>" /><meta name="description" content="<?php echo $post['description']; ?>" />
<link rel="stylesheet" href="<?php echo sysconfig('CMS_BASEHOST'); ?>/css/wap/weui.min.css"/>
<link rel="stylesheet" href="<?php echo sysconfig('CMS_BASEHOST'); ?>/css/wap/style.css"/>
<script type="text/javascript" src="<?php echo sysconfig('CMS_BASEHOST'); ?>/js/wap/ad.js"></script>
</head><body style="background:#fff;">
<!-- 封面 -->
<img style="width:100%;height:50vw;background-color:#eeeeee;" src="/images/wap/banner.jpg">

<h1 class="tith"><?php echo $post['title']; ?></h1>

<div class="box content"><?php echo $post['content']; ?><br></div>

{include file="common/footer"/}
</body></html>