<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><?php if(empty($post["seotitle"])){echo $post["title"];}else{echo $post["seotitle"];} ?>_<?php echo sysconfig('CMS_WEBNAME'); ?></title>
<link rel="stylesheet" href="/css/bootstrap.min.css"><link rel="stylesheet" href="/css/pc/style.css"><script src="/js/jquery.min.js"></script><script src="/js/bootstrap.min.js"></script></head><body>

{include file="common/header"/}

<div class="container" style="margin-top:20px;">
<img class="d-banner" src="/images/pc/jumbotron.jpg" alt="banner">

<h1 class="title"><?php echo $post["title"]; ?></h1>
<div class="content"><?php echo $post["content"]; ?></div>
</div>

{include file="common/footer"/}</body></html>