<form name="uploadForm" id="uploadForm" method="post" enctype="multipart/form-data" action="http://www.allforcar.cn/api/index/ossImageUpload.html">
<input type="file" name="file"/>
<input type="text" name="token" value="123456" style="display:none;" />
<input type="submit" name="Submit" value="提交" />
</form>

<!-- <form name="uploadForm" id="uploadForm" method="post" enctype="multipart/form-data" action="http://jpc.chefashion.cn/apiseller/Car/getChinadatapayCarInfoByPic">
<input type="file" name="file"/>
<input type="text" name="token" value="eb64fd98c141faeaf5dd1d4d05c8df9e" style="display:none;" />
<input type="submit" name="Submit" value="提交" />
</form> -->