<!DOCTYPE html><html><head><title>{block name="title"}网站标题{/block}_后台管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/shop/style.css"/>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/shop/shop.js"></script>
</head><body>
{include file="public/header" /}
{block name="content"}网站内容{/block}
{include file="public/footer" /}
</body></html>