<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /><meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
<title><?php if($post['seotitle']){echo $post['seotitle'];}else{echo $post['title'].'-'.sysconfig('CMS_WEBNAME');} ?></title><meta name="keywords" content="<?php echo $post["keywords"]; ?>" /><meta name="description" content="<?php echo $post["description"]; ?>" />
<link rel="stylesheet" href="/css/bootstrap.min.css"><link rel="stylesheet" href="/css/pc/style.css"><script src="/js/jquery.min.js"></script><script src="/js/bootstrap.min.js"></script></head><body>

{include file="common/header"/}

<div class="container" style="margin-top:20px;">
<img class="d-banner" src="/images/pc/jumbotron.jpg" alt="banner">

<h1 class="title"><?php echo $post["title"]; ?></h1>
<div class="content"><?php echo $post["content"]; ?>
<br><span class="addtime"><?php if($post["writer"]){echo $post["writer"].' ';} ?><?php /* echo date("Y-m-d",$post["update_time"]); */ ?></span></div>
</div>

{include file="common/footer"/}</body></html>