<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /><meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
<title><?php echo $title;if($page!=0){echo '-第'.($page+1).'页';} ?></title><meta name="keywords" content="<?php echo $post["keywords"]; ?>" /><meta name="description" content="<?php echo $post["description"]; ?>" />
<link rel="stylesheet" href="/css/bootstrap.min.css"><link rel="stylesheet" href="/css/pc/style.css"><script src="/js/jquery.min.js"></script><script src="/js/respond.min.js"></script><script src="/js/bootstrap.min.js"></script><script src="/js/site.js"></script></head><body>

{include file="common/header"/}

<?php if($post["id"]!=2){ ?>
<div class="container" style="margin-top:20px;">
<img class="d-banner" src="/images/pc/jumbotron.jpg" alt="banner">

<h1 class="title"><?php echo $post["name"]; ?></h1>
<div class="row"><div class="col-md-1"></div><div class="col-md-10">

<?php if($list->total()){foreach($list as $row){ ?><div class="list"><?php if(!empty($row['litpic'])){ ?><a class="limg" href="<?php echo model('Article')->getArticleDetailUrl(array('id'=>$row['id'])); ?>"><img alt="<?php echo $row['title']; ?>" src="<?php echo $row['litpic']; ?>"></a><?php } ?>
<strong class="tit"><a href="<?php echo model('Article')->getArticleDetailUrl(array('id'=>$row['id'])); ?>"><?php echo $row['title']; ?></a></strong><p><?php echo mb_strcut($row['description'],0,150,'UTF-8'); ?>..</p>
<div class="info"><span class="fl"><em><?php echo date("Y-m-d",$row['update_time']); ?></em></span><span class="fr"><em><?php echo $row['click']; ?></em>人阅读</span></div><div class="cl"></div></div><?php }}else{echo '<div style="text-align:center;padding:20px;">暂无记录</div>';} ?><div id="lad2"><script>ljs2();</script></div>

<div class="bootstrap-front-pagination"><?php echo $page; ?><div class="cl"></div></div>
</div><div class="col-md-1"></div></div>
</div>
<?php }else{ ?>
<div class="container" style="margin-top:20px;">
<div class="row"><?php if($list->total()){foreach($list as $row){ ?><div class="col-xs-6 col-sm-3" style="margin-bottom:15px;"><a href="<?php echo model('Article')->getArticleDetailUrl(array('id'=>$row['id'])); ?>"><img src="<?php echo $row['litpic']; ?>" alt="<?php echo $row['title']; ?>" class="imgzsy"></a></div><?php }} ?>

<div class="cl"></div>
<div class="bootstrap-front-pagination"><?php echo $page; ?><div class="cl"></div></div>
</div></div>
<?php } ?>
<script>
$(function(){
	$(".imgzsy").height(function(){return $(this).width()*2/3;});
});
</script>
{include file="common/footer"/}</body></html>