{extend name="public/base" /}
{block name="title"}企业添加{/block}

{block name="content"}
<script language="javascript" type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
<h5 class="sub-header"><a href="{:url('index')}">企业列表</a> > 企业添加</h5>

<form id="addarc" method="post" action="" role="form" enctype="multipart/form-data" class="table-responsive">
<table class="table table-striped table-bordered">
<tbody>
    <tr>
        <td align="right">用户名：</td>
        <td><input name="user_name" type="text" id="user_name" value="" class="required" style="width:60%" placeholder="在此输入用户名"></td>
    </tr>
    <tr>
        <td align="right">密码：</td>
        <td><input name="password" type="password" id="password" value="" style="width:60%" placeholder="在此输入密码"></td>
    </tr>
    <tr>
        <td align="right">名称：</td>
        <td><input name="company_name" type="text" id="company_name" value="" class="required" style="width:60%" placeholder="在此输入名称"></td>
    </tr>
    <tr>
        <td align="right">類目：</td>
        <td>
            <select id="category_id" name="category_id">
                <?php if($category_list){foreach($category_list as $k=>$v){ ?>
                <option value="<?php echo $v["id"]; ?>"><?php echo $v["name"]; ?></option>
                <?php if($v['sub']){foreach($v['sub'] as $key=>$value){ ?>
                <option value="<?php echo $value["id"]; ?>">— <?php echo $value["name"]; ?></option>
                <?php }} ?>
                <?php }} ?>
            </select>
        </td>
    </tr>
    <tr>
        <td align="right">简介：</td>
        <td><textarea style="width:60%" class="required" name="introduction" rows="3"></textarea></td>
    </tr>
    <tr>
        <td colspan="2"><button type="submit" class="btn btn-success" value="Submit">保存(Submit)</button>&nbsp;&nbsp;<button type="reset" class="btn btn-default" value="Reset">重置(Reset)</button><input type="hidden"></input></td>
    </tr>
</tbody></table></form><!-- 表单结束 -->

<script>
$(function(){
    $(".required").blur(function(){
        var $parent = $(this).parent();
        $parent.find(".formtips").remove();
        if(this.value=="")
        {
            $parent.append(' <small class="formtips onError"><font color="red">不能为空！</font></small>');
        }
        else
        {
            
        }
    });

    //重置
    $('#addarc input[type="reset"]').click(function(){
            $(".formtips").remove(); 
    });

    $("#addarc").submit(function(){
        $(".required").trigger('blur');
        var numError = $('#addarc .onError').length;
        
        if(numError){return false;}
        
        //$("#contents").val = ue.getContent();
        //var datas = $('#addarc').serialize();//#form要在form里面
        
        //var content = ue.getContent();
        
        /*$.ajax({
            url: "/fladmin/Article/doadd",
            type: "POST",
            dataType: "json",
            cache: false,
            data: {
                "typeid":$("#typeid").val(),
                "tuijian":$("#tuijian").val(),
                "click":$("#click").val(),
                "writer":$("#writer").val(),
                "source":$("#source").val(),
                "litpic":$("#litpic").val(),
                "title":$("#title").val(),
                "seotitle":$("#seotitle").val(),
                "keywords":$("#keywords").val(),
                "description":$("#description").val(),
                "content":content
                //"title":title.replace("'", "&#039;"),
                //"seotitle":seotitle.replace("'", "&#039;"),
                //"keywords":keywords.replace("'", "&#039;"),
                //"description":description.replace("'", "&#039;"),
                //"contents":content.replace("'", "&#039;")
            },
            success: function(data){
                if(data.code==200)
                {
                    //alert(data.info);
                    window.location.replace("/fladmin/Article");
                }
            }
        }); */
    });
});
</script>
{/block}