{extend name="public/base" /}
{block name="title"}会员信息修改{/block}

{block name="content"}
<h5 class="sub-header"><a href="<?php echo url('user/index'); ?>">会员列表</a> > 会员信息修改</h5>

<form id="addarc" method="post" action="" role="form" enctype="multipart/form-data" class="table-responsive">
<input style="display:none;" type="text" name="id" id="id" value="<?php echo $id; ?>">
<table class="table table-striped table-bordered">
<tbody>
    <tr>
        <td align="right">昵称：</td>
        <td><input name="nickname" type="text" id="nickname" value="<?php echo $post["nickname"]; ?>" style="width:30%"></td>
    </tr>
    <tr>
        <td align="right">性别：</td>
        <td>
		<select name="sex" id="sex">
            <option<?php if($post["sex"]==1){ echo ' selected'; } ?> value="1">男</option>
            <option<?php if($post["sex"]==2){ echo ' selected'; } ?> value="2">女</option>
		</select>
		</td>
    </tr>
    <tr>
        <td colspan="2"><button type="submit" class="btn btn-success" value="Submit">保存(Submit)</button>&nbsp;&nbsp;<button type="reset" class="btn btn-default" value="Reset">重置(Reset)</button></td>
    </tr>
</tbody></table></form><!-- 表单结束 -->
<script>
$(function(){
    $(".required").blur(function(){
        var $parent = $(this).parent();
        $parent.find(".formtips").remove();
        if(this.value=="")
        {
            $parent.append(' <small class="formtips onError"><font color="red">不能为空！</font></small>');
        }
        else
        {
            $parent.append(' <small class="formtips onSuccess"><font color="green">OK</font></small>');
        }
    });

    //重置
    $('#addarc input[type="reset"]').click(function(){
            $(".formtips").remove(); 
    });

    $("#addarc").submit(function(){
        $(".required").trigger('blur');
        var numError = $('#addarc .onError').length;
        
        if(numError){return false;}
    });
});
</script>
{/block}