<!DOCTYPE html><html lang="zh-tw"><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /><meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform" />
<title><?php echo $title; if( input('page',1) > 1 ){ echo '_第'.input('page').'頁'; } echo '-'.sysconfig('CMS_WEBNAME'); ?></title><meta name="keywords" content="<?php echo $title; ?>" /><meta name="description" content="宁柏批发网为您提供<?php echo $title; ?>信息，批发供应商联系方式、地址。" /><?php if(isset($province) && !empty($province)){ ?><meta name="location" content="province=<?php echo $province; ?>;city=<?php if(isset($city)){echo $city;} ?>;coord="><?php } ?><link rel="stylesheet" href="<?php echo sysconfig('CMS_BASEHOST'); ?>/css/style.css" media="all"><script type="text/javascript" src="<?php echo sysconfig('CMS_BASEHOST'); ?>/js/jquery.min.js"></script><script type="text/javascript" src="<?php echo sysconfig('CMS_BASEHOST'); ?>/js/ad.js"></script></head><body><script>site();</script>
{include file="common/header"/}<div id="tad"><script>tjs();</script></div>

<div class="box mt10">
<div class="fl_640">
<?php if($posts->total() > 0){foreach($posts as $row){ ?><div class="list"><?php if(!empty($row['head_img'])){ ?><a class="limg" href="/store/<?php echo $row['id']; ?>"><img alt="<?php echo $row['company_name']; ?>" src="<?php echo $row['head_img']; ?>"></a><?php } ?>
<strong class="tit"><a href="/store/<?php echo $row['id']; ?>"><?php echo $row['company_name']; ?></a></strong><p><?php echo mb_strcut($row['introduction'],0,150,'UTF-8'); ?>..</p>
<div class="cl"></div></div><?php }}else{ ?><div style="text-align:center;padding:20px;">暫無記錄</div><?php } ?>

<div class="bootstrap-front-pagination"><?php echo $page; ?><div class="cl"></div></div>

</div><!-- fl_640 end -->

<div class="fr_300"><div id="rad1"><script>rjs1();</script></div>
<div class="side"><div class="stit"><h2>推薦閱讀</h2><a href="/shoplist" class="more">更多</a><div class="cl"></div></div>	
<ul class="uli chs" id="xglist"><?php if($tuijian_list){foreach($tuijian_list as $row){ ?><li><a href="/store/<?php echo $row['id']; ?>"><?php echo $row['company_name']; ?></a></li><?php }} ?></ul><div class="cl"></div></div>

<div class="side"><div class="stit"><h2>猜你喜歡</h2><div class="cl"></div></div>
<div class="uli2" id="xglike"><?php if($zuixin_list){foreach($zuixin_list as $row){ ?><div class="suli"><a class="limg" href="/store/<?php echo $row['id']; ?>"><img alt="" src="<?php echo $row['head_img']; ?>"></a><a href="/store/<?php echo $row['id']; ?>"><?php echo $row['company_name']; ?></a><div class="sulii"><span class="time">文章<?php echo $row['article_count']; ?></span> 閱讀(<?php echo $row['click']; ?>)</div><div class="cl"></div></div><?php }} ?><div class="cl"></div></div></div>

<div id="rad2"><script>rjs2();</script></div></div><!-- fr_300 end --></div><!-- box end -->

{include file="common/footer"/}</body></html>